.button {
    border-radius: 8px;
    background: #4E75FF;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    border: none;
    padding: 8px 16px;
}

.button:hover {
    background: #6C8CFF;
}